@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap');
@import "tailwindcss";

:root {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf5;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}
.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-200;
}
.card {
  @apply bg-gradient-to-br from-blue-50 via-white to-orange-50 p-6 rounded-2xl shadow-lg border border-gray-100 hover:shadow-xl transition-shadow duration-300;
}

.card-btn {
  @apply flex items-center gap-3 px-4 py-2 text-[15px] font-semibold text-blue-600 bg-blue-100 rounded-lg shadow hover:bg-blue-200 hover:text-blue-800 transition duration-200;
}

.add-btn {
  background-color: transparent;
  color: #22c55e; /* green text */
  border: 2px solid #22c55e; /* green border */
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
}

.add-btn:hover {
  color: #16a34a; /* darker green text */
  border-color: #16a34a; /* darker green border */
  text-decoration: underline;
}
